<h1>Hello! Welcome to the theaters online <b>box office</b></h1>

<p *ngIf="!schedules"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="schedules">
  <thead>
    <tr>
      <th>id</th>
      <th>enabled</th>
      <th>hall</th>
      <th>spectacle</th>
      <th>startTime</th>
      <th>endTime</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{ schedule.id }}</td>
      <td>{{ schedule.enabled }}</td>
      <td>{{ schedule.hall?.name }}</td>
      <td>{{ schedule.spectacle?.name }}</td>
      <td>{{ schedule.startTime }}</td>
      <td>{{ schedule.endTime }}</td>
      <td>{{ schedule.description }}</td>
    </tr>
  </tbody>
</table>